body {
    font-family: 'Raleway', sans-serif;
}
.main-width {
    width: 100%;
    margin: 0 auto;
}
header {
    background-color: black;
    height: 50px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
} 
.header-font-style {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    margin-top: 15px;
    float: left;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    display: inline;
    margin-left: 40px;
}
nav {
    color: white;
    text-transform: uppercase;
    float: right;
}
.colored {
    text-transform: uppercase;
    color: #27c7ab;
    font-weight: 700;
}
.clear {
    clear: both;
}
.slider {
    height: 450px;
    background: rgba(255,255,255,1);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 12%, rgba(199,199,199,1) 72%);
}
.slider-image {
    background-image: url("../images/black_chair.png");
    background-size: cover;
    width: 370px;
}
.slider-content {
    height: 337px;
    float: left;
    margin-top: 80px;
    text-align: center;
}
.slider-text {
    width: 420px;
    padding-left: 35px;
    margin-right: 65px;
}
.slider-arrow {
    font-size: 65px;
    width: 55px;
    color: #27c7ab;
    margin-top: 200px;
}
h1 {
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 30px;
}
.slider-content p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
}
.button {
    background-color: #27c7ab;
    padding: 10px 40px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
}
.offer {
    height: 325px;
    margin-top: 10px;
}
.offer-image {
    width: 320px;
    float: left;
}
.offer-image-middle {
    width: 320px;
    float: left;
    margin: 0px 20px 0px 20px;
}
.offer-image img {
    margin-top: -50px;
    width: 315px;
}
.offer-description {
    width: 270px;
    height: 220px;
    border: 1px solid lightgrey;
    float: left;
    margin-top: -50px;
    padding: 30px 20px 0px 20px;
    font-size: 13px;
    color: grey;
    line-height: 20px;
}
.box-title {
    font-weight: bold;
    color: black;
    font-size: 13px;;
}
hr {
    width: 120px;
    border: 4px solid #27c7ab;
    margin: 0px 162px 0px -1px;
}
.box-title-background {
    position: relative;
    bottom: 60px;
    background-color: rgba(250,251,251, 0.5);
    /* height: 75px; */
    padding: 5px 162px 15px 10px;
}
.prices-plans {
    height: 700px;
    background-color: #f1f1f1;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 35px;
    margin-bottom: 5px;
    color: grey;
    font-weight: 600;
}
#hr {
    width: 285px;
}
.header {
    position: relative;
    top: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    margin: 0 auto;
    background: white;
}
.header2 {
    position: relative;
    top: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #27c7ab;
    margin: 0 auto;
    background: #27c7ab;
}
.dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: lightgrey;
    margin: 27%;
}
.dot2 {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    margin: 27%;
}
.price-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    margin: 30px auto;
    opacity: 0.7;
}
#price-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #27c7ab;
    margin: 30px auto;
    background-color: white;
    
}
.price {
    margin: 0 auto;
    position: relative;
    top: 25px;
    left: 32px;
    font-size: 38px;
    color: grey;
    font-weight: 600;
    opacity: 0.7;
}
#price {
    margin: 0 auto;
    position: relative;
    top: 25px;
    left: 32px;
    font-size: 38px;
    color: #27c7ab;
    font-weight: 600;
}
.pln {
    color: grey;
    font-weight: 600;
    position: relative;
    top: 30px;
    left: 27px;
    font-size: 14px;
}
#pln {
    color: #27c7ab;
    font-weight: 600;
    position: relative;
    top: 30px;
    left: 27px;
    font-size: 14px;
}
sup {
    font-size: 12px;
    margin: 0 auto;
}
.benefits {
    color: grey;
    background-color: lightgray;
    font-size: 18px;
    padding: 9px 0px;
    margin: 0 auto;
    text-align: center;
}
.benefits2 {
    color: grey;
    background-color: #f1f1f1;
    font-size: 18px;
    padding: 9px 0px;
    margin: 0 auto;
    text-align: center;
}
.benefits3 {
    color: grey;
    background-color: white;
}
.border-container {
    width: 312px;
    height: 480px;
    margin: 0 auto;
    border: 2px solid lightgray;
    border-radius: 3px;
    background-color: white;
}
.second-border-container {
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
    margin: 0px 25px;
    color: white;
}
h3 {
    /*margin: 40px 0px 10px 77px; */
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #27c7ab;
}
#h3-middle {
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: white;
}
.border-content {
    padding: 15px;
    font-size: 11px;
    text-align: justify;
}
.button1 {
    width: 85px;
    /* height: 35px; */
    background: #27c7ab;
    margin: 0 auto;
    color: white;
    border-radius: 8px;
    padding: 6px 0px 6px 30px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    top: 128px;
}
.button2 {
    position: relative;
    top: 50px;
}
#button2 {
    width: 85px;
    /* height: 35px; */
    background: white;
    margin: 0 auto;
    color: #27c7ab;
    border-radius: 8px;
    padding: 6px 0px 6px 30px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    top: 90px;
}
span.border-content {
    display: inline-block;
    padding-top: 10px;
    padding-left: 25px;
}
.figure2 {
    float: left;
}
.contact-form {
    height: 400px;
    background-color: orangered;
}
footer {
    background-color: black;
    height: 75px;
}
